<div style=" 
display: flex;
flex-direction: column;">
<div class="container" style="color:  rgba(0, 0, 0, 0.815); font-size: 30px; height: 500px">
    В этом сервисе вы сможете  <br> найти слуайные места, запомнить их и <br> оценить
</div>
<div style="display: -webkit-flex; 
-webkit-flex-direction: row-reverse;
display: flex;
justify-content: space-around;">
    <a href="login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="width: 150px; border-radius: 15px">Log In</a>
    <a href="http://localhost:3000/registration" class="btn btn-secondary btn-lg active" role="button"
        aria-pressed="true"
        style="width: 150px;background-color: rgba(0, 0, 0, 0.815);border-radius: 15px">Registration</a>
    <a href="main/quik" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="width: 150px; border-radius: 15px">Try</a>

</div>
</div>